{% extends 'core/base.html' %}
{% load static %}
{% block page_content %}

	<!-- header
   ================================================== -->
   <header>
	<div class="row">

		<div class="top-bar">
			<a class="menu-toggle" href="#"><span></span></a>
			<nav id="main-nav-wrap">
				 <ul class="main-navigation">
					 <li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
					 <li><a class="smoothscroll"  href="#about" title="">About</a></li>
					 <li><a class="smoothscroll"  href="#portfolio" title="">Projects</a></li>
					 <li><a class="smoothscroll"  href="#skills" title="">Key Skills</a></li>
					 <li><a class="smoothscroll"  href="#resume" title="">CV</a></li>
					 <li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>
				 </ul>
			 </nav>
		</div> <!-- /top-bar -->

	</div> <!-- /row -->
</header> <!-- /header -->

 <!-- intro section
================================================== -->
<section id="intro">

	<div class="intro-overlay"></div>

	<div class="intro-content">
		<div class="row">

			<div class="col-twelve">

				<h5>Hi there!</h5>
				<h1>I'm Luke Pomeroy</h1>

				<p class="intro-position">
					<span>Full-Stack Software Developer</span>
					<span>Problem Solver</span>
				</p>

				<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

			</div>

		</div>
	</div> <!-- /intro-content -->

	<ul class="intro-social">
	  <li><a href="https://www.linkedin.com/in/lukepomeroy/" class="fa fa-linkedin"><span class="label"></i></a></li>
	  <li><a href="https://github.com/luke-pomeroy" class="fa fa-github"><span class="label"></i></a></li>
   </ul> <!-- /intro-social -->

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">

	<div class="row section-intro">
		<div class="col-twelve">

			<h1>About Me</h1>
			<div class="intro-info">
				<img src="{% static 'images/profile-pic.jpg' %}" alt="Profile Picture">
				<p class="lead">I'm Luke, a software developer interested in backend and full-stack roles. </p>
			</div>

		</div>
	</div> <!-- /section-intro -->

	<div class="row about-content">

		<div class="col-six tab-full">
			<p>
				I’m a highly motivated self-starter driven by a genuine passion for technology and creative problem solving. 
				I get satisfaction from crafting and implementing technical solutions that address user needs in innovative and impactful ways. 
				At the Museum of London I progressed from a systems administration role to being the Systems and Data Lead, 
				responsible for the management and development of systems to document a collection of over 6 million items. 
				I thrive on learning new languages, frameworks and technologies and solving complex challenges. 
				In my free time I develop personal projects in order to hone my skills and keep up to date with emerging technologies. 
				I also regularly participate in tech events in Glasgow, including Tech Meetup, JavaScript Meetup and Python Meetup.
			</p>
		</div>

		<div class="col-six tab-full">
			<h5>My Tech Skills</h5>
			<div class="tech">
				<div class="tech-item"><img src="{% static 'icons/html-5-svgrepo-com.svg' %}" alt="HTML5 icon"/><h4>HTML</h4></div>
				<div class="tech-item"><img src="{% static 'icons/css-3-svgrepo-com.svg' %}" alt="CSS icon"/><h4>CSS</h4></div>
				<div class="tech-item"><img src="{% static 'icons/python-svgrepo-com.svg' %}" alt="Python icon"/><h4>Python</h4></div>
				<div class="tech-item"><img src="{% static 'icons/django-svgrepo-com.svg' %}" alt="Django icon"/><h4>Django</h4></div>
				<div class="tech-item"><img src="{% static 'icons/icons8-javascript-96.svg' %}" alt="JavaScript icon"/><h4>JavaScript</h4></div>
				<div class="tech-item"><img src="{% static 'icons/nodejs-icon-svgrepo-com.svg' %}" alt="Node.js icon"/><h4>Node.js</h4></div>
				<div class="tech-item"><img src="{% static 'icons/express-svgrepo-com.svg' %}" alt="Express.js icon"/><h4>Express</h4></div>
				<div class="tech-item"><img src="{% static 'icons/React-icon.svg' %}" alt="React.js icon"/><h4>React</h4></div>
				<div class="tech-item"><img src="{% static 'icons/icons8-java-96.svg' %}" alt="Java icon"/><h4>Java</h4></div>
				<div class="tech-item"><img src="{% static 'icons/icons8-spring-boot-96.svg' %}" alt="Spring Boot icon"/><h4>Spring Boot</h4></div>
				<div class="tech-item"><img src="{% static 'icons/hibernate-icon.svg' %}" alt="Hibernate icon"/><h4>Hibernate</h4></div>
				<div class="tech-item"><img src="{% static 'icons/postgresql-icon.svg' %}" alt="PostgreSQL icon"/><h4>PostgreSQL</h4></div>
				<div class="tech-item"><img src="{% static 'icons/mysql-svgrepo-com.svg' %}" alt="MySQL icon"/><h4>MySQL</h4></div>
				<div class="tech-item"><img src="{% static 'icons/aws-svgrepo-com.svg' %}" alt="Amazon Web Services icon"/><h4>AWS</h4></div>
				<div class="tech-item"><img src="{% static 'icons/docker-svgrepo-com.svg' %}" alt="Docker icon"/><h4>Docker</h4></div>
				<div class="tech-item"><img src="{% static 'icons/linux.svg' %}" alt="Linux icon"/><h4>Linux</h4></div>
				
			</div>
		</div>

	</div>

	<div class="row button-section">
		<div class="col-twelve">
			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contact Me</a>
			<a href="{% static 'Luke Pomeroy - CV.pdf' %}" title="Download CV" class="button button-primary" download>Download CV</a>
		</div>
	</div>

</section> <!-- /process-->

 <!-- Portfolio Section
================================================== -->
 <section id="portfolio">

	 <div class="row section-intro">
		<div class="col-twelve">

			<h1>Projects</h1>

		</div>
	</div> <!-- /section-intro-->

	<div class="row portfolio-content">

		<div class="col-twelve">

			<!-- portfolio-wrapper -->
		  <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
			{% for project in projects %}
				<div class="bgrid folio-item" id="folio-item-{{ forloop.counter }}">
					<div class="item-wrap">
						<img src="{% static project.image %}" alt="Liberty">
						<a href="#modal-{{ forloop.counter }}" class="overlay">
							<div class="folio-item-table">
								<div class="folio-item-cell">
											<h3 class="folio-title">{{ project.title }}</p>
											<div class="icon"><i class="fa fa-info-circle"></i></div>
											<span class="folio-types">
												{{project.technology}}
											</span>

										</div>
							</div>
						</a>
					</div>
				</div> <!-- /folio-item -->
			{% endfor %}


			 <!-- modal popups - begin
			 ============================================================= -->
			{% for project in projects %}
				<div id="modal-{{ forloop.counter }}" class="popup-modal slider mfp-hide">

					<div class="media">
						<img src="{% static project.image %}" alt="project image" />
					</div>

					<div class="description-box">
						<h4>{{ project.title }}</h4>
						<p>{{ project.description }}</p>

						<div class="categories">{{project.technology}}</div>
					</div>

					<div class="link-box">
						<a href="{{ project.git_url }}">{% if project.git_url %}More{%else%}	{% endif %}</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div> <!-- /modal-01 -->

			{% endfor %}

				<!-- modal popups - end
			 ============================================================= -->

		  </div> <!-- /portfolio-wrapper -->

		</div>  <!-- /twelve -->

	</div> <!-- /portfolio-content -->

 </section> <!-- /portfolio -->

 <!-- skills Section
================================================== -->
<section id="skills">

	<div class="overlay"></div>

	<div class="row section-intro">
		<div class="col-twelve">

			<h1>Key Skills</h1>
			<br>
			<div class="col-six">
					<p>Meticulous attention to detail, with a consistent and repeatable approach</p>
					<p>Logical and creative approach to identifying and solving problems</p>
					<p>Good understanding of software design, database structures and object orientated programming principles</p>
					<p>Ability to understand client requirements and translate them into meaningful solutions that address business needs</p>
					<p>Adaptable working style with self-initiative and the ability to learn quickly in a fast-paced dynamic environment</p>
			</div>
			<div class="col-six">
					<p>Excellent ability to communicate technical concepts to nontechnical stakeholders</p>
					<p>Understanding of the importance of documentation, version control (e.g. Git), and test driven development</p>
					<p>Understanding of Agile development methodologies</p>
					<p>Working with clients to gather requirements, and application of prioritisation techniques (e.g.  MoSCoW method)</p>
					<p>Ability to communicate clearly and work collaboratively as part of a team</p>
			</div>

		</div>
	</div> <!-- /section-intro -->

</section> <!-- /skills -->

<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

	<div class="row section-intro">
	   <div class="col-twelve">

		   <h1>CV</h1>

	   </div>
   </div> <!-- /section-intro-->

   <div class="row resume-timeline">

	   <div class="col-twelve resume-header">

		   <h2>Career Summary</h2>

	   </div> <!-- /resume-header -->

	   <div class="col-twelve">

		   <div class="timeline-wrap">

			   {% for job in work %}
				   <div class="timeline-block">

					   <div class="timeline-ico">
						   <i class="fa fa-briefcase"></i>
					   </div>

					   <div class="timeline-header">
						   <h3>{{ job.title }}</h3>
						   <p>{{ job.start_date }} - {{ job.end_date }}</p>
					   </div>

					   <div class="timeline-content">
						   <h4>{{ job.organisation }}</h4>
						   <p>
							   <ul>
							   {% for point in job.experiencepoint_set.all %}
								   <li>{{ point.text }}</li>
							   {% endfor %}
							   </ul>
						   </p>
					   </div>

				   </div> <!-- /timeline-block -->
			   {% endfor %}

		   </div> <!-- /timeline-wrap -->

	   </div> <!-- /col-twelve -->

   </div> <!-- /resume-timeline -->

   <div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Training Courses and Certifications</h2>

		</div> <!-- /resume-header -->

		<div class="col-twelve">

			<div class="timeline-wrap">

				{% for course in courses %}
					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-book"></i>
						</div>

						<div class="timeline-header">
							<h3>{{ course.title }}</h3>
							<p>{{ course.start_date }}</p>
						</div>

						<div class="timeline-content">
							<h4>{{ course.organisation }}</h4>
							<p>
								{% for point in course.experiencepoint_set.all %}
									{{ point.text }}
								{% endfor %}
							</p>
						</div>

					</div> <!-- /timeline-block -->

				{% endfor %}

			</div> <!-- /timeline-wrap -->

		</div> <!-- /col-twelve -->

	</div> <!-- /resume-timeline -->

   <div class="row resume-timeline">

	   <div class="col-twelve resume-header">

		   <h2>Education</h2>

	   </div> <!-- /resume-header -->

	   <div class="col-twelve">

		   <div class="timeline-wrap">

			   {% for course in education %}
				   <div class="timeline-block">

					   <div class="timeline-ico">
						   <i class="fa fa-graduation-cap"></i>
					   </div>

					   <div class="timeline-header">
						   <h3>{{ course.title }}</h3>
						   <p>{{ course.start_date }}</p>
					   </div>

					   <div class="timeline-content">
						   <h4>{{ course.organisation }}</h4>
						   <p>
							   {% for point in course.experiencepoint_set.all %}
								   {{ point.text }}
							   {% endfor %}
						   </p>
					   </div>

				   </div> <!-- /timeline-block -->

			   {% endfor %}

		   </div> <!-- /timeline-wrap -->

	   </div> <!-- /col-twelve -->

   </div> <!-- /resume-timeline -->

</section> <!-- /features -->


<!-- contact
================================================== -->
 <section id="contact">

	 <div class="row section-intro">
		<div class="col-twelve">
			<h1>Contact</h1>
		</div>
	</div> <!-- /section-intro -->

	<div class="row contact-form">

		<div class="col-twelve">

		 <!-- form -->
		 <form name="contactForm" id="contactForm" method="post" action="">
			   <fieldset>
				{% csrf_token %}
			   <div class="form-field">
						 <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
			   </div>
			   <div class="form-field">
					  <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
				</div>
			   <div class="form-field">
						 <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
				</div>
			   <div class="form-field">
					  <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
			    </div>
			  		 <!-- contact-warning -->
			   <div id="message-warning">
			    </div>
			  <div class="form-field">
				  <div id="submit-loader">
					 <div class="text-loader">Sending...</div>
						  <div class="s-loader">
								   <div class="bounce1"></div>
								   <div class="bounce2"></div>
								   <div class="bounce3"></div>
						   </div>
					 </div>
			     </div>
				 <button id="submit_btn" class="submitform" type="button">Submit</button>
			   </fieldset>
		   </form> <!-- Form End -->
		    <!-- contact-success -->
			<div id="message-success">
			  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
			</div>
	  </div> <!-- /col-twelve -->

	</div> <!-- /contact-form -->

	<div class="row contact-info">

		<div class="col-four tab-full">

			<div class="icon">
				<i class="icon-pin"></i>
			</div>

			<h5>Location</h5>
			Glasgow

		 </p>

		</div>

		<div class="col-four tab-full collapse">

			<div class="icon"><a href="mailto:lukepomeroy@hotmail.co.uk">
				<i class="icon-mail"></i>
			</div></a>

			<h5>Email Me At</h5>

			<p><a href="mailto:lukepomeroy@hotmail.co.uk">lukepomeroy@hotmail.co.uk</a></p>

		</div>

		<div class="col-four tab-full">

			<div class="icon"><a href="tel:07980338143">
				<i class="icon-phone"></i>
			</div></a>

			<h5>Call Me At</h5>

			<p><a href="tel:07980338143">07980 338 143</a>
			</p>

		</div>

	</div> <!-- /contact-info -->

 </section> <!-- /contact -->


<!-- footer
================================================== -->

<footer>
	  <div class="row">

		  <div class="col-six tab-full pull-right social">

			  <ul class="footer-social">
				<li><a href="https://www.linkedin.com/in/lukepomeroy/" class="fa fa-linkedin"><span class="label"></a></li>
				<li><a href="https://github.com/luke-pomeroy" class="fa fa-github"><span class="label"></a></li>
			</ul>

	   </div>

	   <div class="col-six tab-full">
		   <div class="copyright">
				 <span>© Copyright Luke Pomeroy</span>
				 <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
			  </div>
		   </div>

		   <div id="go-top">
			  <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		   </div>

	   </div> <!-- /row -->
</footer>
{% endblock page_content %}
