{% extends 'core/base.html' %}
{% load static %}
{% block page_content %}
<section id="intro">   

	<div class="intro-overlay"></div>	

	<div class="intro-content">
		<div class="row">

			<div class="col-twelve">

				<h5>Hi there!</h5>
				<h1>I'm Luke Pomeroy</h1>

				<p class="intro-position">
					<span>Developer</span>
					<span>Problem Solver</span> 
				</p>

				<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

			</div>  
			
		</div>   		 		
	</div> <!-- /intro-content --> 

	<ul class="intro-social">        
        <li><a href="https://www.linkedin.com/in/lukepomeroy/" class="fa fa-linkedin"><span class="label"></i></a></li>
        <li><a href="https://github.com/whyspark" class="fa fa-github"><span class="label"></i></a></li>
     </ul> <!-- /intro-social -->      	
  
</section> <!-- /intro -->
  
 <!-- skills Section
================================================== -->
<section id="skills">

	<div class="overlay"></div>

	<div class="row section-intro">
		<div class="col-twelve">

			<h1>Key Skills</h1>
			<br>
			<div class="col-six">
					<p>Meticulous attention to detail, with a consistent and repeatable approach</p>
					<p>Logical and creative approach to identifying and solving problems</p>
					<p>Good understanding of software design, database structures and object orientated programming principles</p>
					<p>Ability to understand client requirements and translate them into meaningful solutions that address business needs</p>
					<p>Adaptable working style with self-initiative and the ability to learn quickly in a fast-paced dynamic environment</p>
			</div>
			<div class="col-six">
					<p>Excellent ability to communicate technical concepts to nontechnical stakeholders</p>
					<p>Understanding of the importance of documentation, version control (e.g. Git), and test driven development</p>
					<p>Understanding of Agile development methodologies</p>
					<p>Working with clients to gather requirements, and application of prioritisation techniques (e.g.  MoSCoW method)</p>
					<p>Ability to communicate clearly and work collaboratively as part of a team</p>
			</div>

		</div>   		
	</div> <!-- /section-intro -->
	 
</section> <!-- /skills -->	

{% endblock page_content %}